body{
	background-color: white;
}
.box{
	background-color: white;
	margin-top: 100px;
	margin-left: 30%;
	margin-right: 30%;
  	text-decoration: none;
  	border-radius: 15px;
  	transition: 0.2s;
  	border-style: double;
  	border-color: rgb(224,224,224);


}
.text{
	color: white;
  	text-decoration: none;
  	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 3px;
  	transition: 0.2s;
	margin-left: 2px;
	margin-top: 1%;
}
h1{
	margin-left: 17px;
}
h3{
	margin-left: 17px;
	margin-bottom: 1px;
}
button{
	margin-top: 10px;
	color: white;
  	text-decoration: none;
  	padding: .8em 1em;
  	border-radius: 6px;
  	box-shadow: 0 -3px rgb(0,95,249) inset;
  	transition: 0.2s;
  	background: rgb(0,95,249);  
	
}

